<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alamofire-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7087A3631FFAB02300E96D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7087A37A1FFAB02400E96D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7087A3851FFAB02400E96D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
